<w-layout *ngIf="dataUser$ | async as data">
  <w-contact-list [contacts]="data.contacts" />
  <div class="w-chat">
    <ng-container *ngIf="messages$ | async as messages; else noSelectedContact">
      <header class="w-chat__header">
        <w-contact-picture />
        <div class="w-chat__header-description">
          <p>{{ chatService.contactSelected.value?.name }}</p>
          <small>last time, today 10:16 pm</small>
        </div>
      </header>
      <main class="w-chat__main">
        <div class="w-chat__main-background"></div>
        <div class="w-chat__main-chats">
          <div class="w-chat__divider"></div>

          <w-message
            *ngFor="let message of messages"
            [message]="message.message"
            [isMessageFromProfile]="message.from === authService.currentUserUID"
          />

          <div class="w-chat__divider"></div>
        </div>
      </main>

      <footer>
        <w-chat-footer (sendText)="sendMessage($event)" />
      </footer>
    </ng-container>

    <ng-template #noSelectedContact>
      <div>
        <h1>Whatsapp web</h1>
      </div>
    </ng-template>
  </div>
</w-layout>
