.layout-whatsapp {
  position: relative;
  top: var(--gap);
  display: flex;

  .layout-sidebar {
    max-width: 400px;
    width: 100%;
    height: calc(100vh - (2 * var(--gap)));
    overflow-x: hidden;

    w-sidebar {
      display: block;
      height: calc(100vh - 64px - (2 * var(--gap)));
      overflow-y: auto;
    }
  }

  .layout-chat {
    flex: 1;
    min-height: calc(100vh - (2 * var(--gap)));
  }
}
