.item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 16px;
  background: #111b21;
  height: 71px;
  cursor: pointer;

  &__body {
    flex: 1;
    border-top: 1px solid var(--border-list);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-name {
      display: flex;
      p {
        margin: 0px;
        font-size: 16px;
        font-weight: 500;
        color: var(--primary-strong);
        flex: 1;
      }
    }

    small {
      font-size: 14px;
      color: var(--secondary);
    }
  }
}
