/* You can add global styles to this file, and also import other style files */
:root {
  --gap: 20px;
  --background: #111b21;
  --panel-bg: #202c33;
  --green: #00a884;
  --stronger-text: #e9edef;
  --text: #d1d7db;

  // chat
  --chat-border: rgba(233, 237, 239, 0.12);
  --chat-time: #8696a0;

  --chat-input-background: #2a3942;
  --chat-message: #e9edef;
  --chat-message-out: #005c4b;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background: var(--background);
}

.container {
  max-width: 1600px;
  width: calc(100% - (2 * var(--gap)));
  height: calc(100% - (2 * var(--gap)));
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: #fff, $alpha: 0.16);
}

::-webkit-scrollbar-track {
  background-color: initial;
}
